body{
margin:0;
font-family: Helvetica, Arial, sans-serif;
font-size: 20px;
line-height: 30px;
}

header{
background-color: darkred ;
text-align: center;
padding-top:50px;
padding-bottom:50px;
}

h1, h2{
	font-family: 'Germania One', system-ui;
}

header h1{
	color:white;
	font-size: 75px;
}

header img{
	border-radius: 300px;
	width: 300px;
	border: 15px solid white;
}



main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	color:darkslategrey;
	margin: 40px 0 10px;
}

a{
	color:darkslategrey;
}

a:hover{
	color: purple;
	background-color: whitesmoke;
}

footer{
background-color: darkred ;
text-align: center;
color: white;
padding-top:25px;
padding-bottom:50px;
}

footer a{
	color:white;
}

footer a:hover{
	opacity: .5;
	background-color: transparent;
}

footer p{
	margin: 0;
}

p.caption{
	color:lightgrey;
	font-style: italic;
	margin: 0;
}